<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/base.css" />
  </head>
  <body>
    <h1 class="title">ejs static</h1>
    <h2><%=title%></h2>
    <h2><%=info.title%></h2>
    <br />
    <br />
    <form action="/doPost" method="post">
      用户名：<input type="text" name="username" /> <br />
      密 码: <input type="text" name="password" /> <br />
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
