<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      label {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <form action="/doRegister" method="post">
      <p>
        <label for="username">username:</label>
        <input type="text" name="username" />
      </p>
      <p>
        <label for="password">password:</label>
        <input type="password" name="password" />
      </p>
      <p>
        <label for="submit">submit</label>
        <input type="submit" />
      </p>
    </form>
  </body>
</html>
